<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">

      <!-- Logo -->
      <a [routerLink]="['']" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>O</b>K</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Order</b> King</span>
      </a>

      <!-- Header Navbar -->
      <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
              <span class="sr-only">Toggle navigation</span>
          </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
              <ul class="nav navbar-nav">
                  <!-- Notifications Menu -->
                  <li class="dropdown notifications-menu">
                      <!-- Menu toggle button -->
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="fa fa-bell-o"></i>
                          <span class="label label-warning">{{ SysNotifyList.Items.length }}</span>
                      </a>
                      <ul class="dropdown-menu">
                          <li class="header">Bạn có {{ SysNotifyList.Items.length }} thông báo mới</li>
                          <li *ngIf="SysNotifyList.Items.length <= 0" >
                              <ul class="menu">
                                  <li>
                                      <a><i class="fa fa-users text-aqua"></i> Không có thông báo mới nào</a>
                                  </li>
                              </ul>
                          </li>
                          <li *ngIf="SysNotifyList.Items.length > 0" >
                              <!-- Inner Menu: contains the notifications -->
                              <ul class="menu">
                                  <li *ngFor="let item of SysNotifyList.Items">
                                      <!-- start notification -->
                                      <a (click)="showNotifyContent(item.Id)">
                                          <i class="fa fa-users text-aqua"></i> {{ item.Title }}
                                          <small><span class="users-list-date">{{ item.UpdatedDate }}</span></small>
                                      </a>
                                  </li>
                                  <!-- end notification -->
                              </ul>
                          </li>
                          <li class="footer"><a  [routerLink]="['/thong-bao']">Xem tất cả</a></li>
                      </ul>
                  </li>
                  <!-- User Account Menu -->
                  <li class="dropdown user user-menu">
                      <!-- Menu Toggle Button -->
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <!-- The user image in the navbar-->
                          <img [src]="UserInfo.Avatar" class="user-image" alt="User Image">
                          <!-- hidden-xs hides the username on small devices so only the image appears. -->
                          <span class="hidden-xs">{{UserInfo.FullName}}</span>
                      </a>
                      <ul class="dropdown-menu">
                          <!-- The user image in the menu -->
                          <li class="user-header">
                              <img  [src]="UserInfo.Avatar" class="img-circle" alt="User Image">

                              <p>
                                {{UserInfo.FullName}} - Quản lý cửa hàng
                                  <small>Tham gia từ ngày {{UserInfo.CreatedDate | date: 'dd/MM/yyyy'}}</small>
                              </p>
                          </li>
                          <li class="user-footer">
                              <div class="pull-left">
                                  <a [routerLink]="['/profile']" class="btn btn-default btn-flat">Thông tin cá nhân</a>
                              </div>
                              <div class="pull-right">
                                  <a (click)="logout()" class="btn btn-default btn-flat">Thoát</a>
                              </div>
                          </li>
                      </ul>
                  </li>
              </ul>
          </div>
      </nav>
  </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- Sidebar user panel (optional) -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img [src]="UserInfo.Avatar" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>{{UserInfo.FullName}}</p>
                    <!-- Status -->
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>

            <!-- search form (Optional) -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
            <!-- /.search form -->

            <!-- Sidebar Menu -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">QUẢN LÝ CỬA HÀNG</li>
                <li routerLinkActive="active"><a [routerLink]="['']"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
                <li routerLinkActive="active" ><a [routerLink]="['/danh-muc']"><i class="glyphicon glyphicon-book"></i> <span>Quản lý danh mục</span></a></li>
                <li routerLinkActive="active" ><a [routerLink]="['/mat-hang']"><i class="fa  fa-tasks"></i> <span>Quản lý mặt hàng</span></a></li>
                <li routerLinkActive="active"><a [routerLink]="['/don-hang']"><i class="fa fa-newspaper-o"></i> Quản lý đơn hàng</a></li>
                <li class="treeview">
                    <a href="#"><i class="fa fa-bar-chart"></i> <span>Báo cáo / thống kê</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li routerLinkActive="active"><a [routerLink]="['/bao-cao/doanh-thu-ban-hang']"><i class="fa fa-money"></i> Doanh thu bán hàng</a></li>
                        <li routerLinkActive="active"><a [routerLink]="['/bao-cao/mat-hang-ban-chay']"><i class="fa fa-rocket"></i> Mặt hàng bán chạy</a></li>
                    </ul>
                </li>
                <li class="treeview">
                  <a href="#"><i class="fa fa-university"></i> <span>Cửa hàng</span>
                      <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                      </span>
                  </a>
                  <ul class="treeview-menu">
                      <li routerLinkActive="active"><a [routerLink]="['/nhan-vien']"><i class="fa fa-users"></i> Quản lý nhân viên</a></li>
                      <li routerLinkActive="active"><a [routerLink]="['/cua-hang']"><i class="fa fa-home"></i> Thông tin cửa hàng</a></li>
                  </ul>
              </li>
                <li routerLinkActive="active"><a [routerLink]="['/log']"><i class="fa fa-eye"></i> <span>Theo dõi hoạt động</span></a></li>
                <li routerLinkActive="active"><a [routerLink]="['/thong-bao']"><i class="fa fa-commenting"></i> <span>Thông báo</span></a></li>
            </ul>
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <router-outlet></router-outlet>
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
           Order King - Phầm mềm bán hàng cho doanh nghiệp nhỏ
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2018 <a href="#">DOTNETVN GROUP</a>.</strong> All rights reserved.
    </footer>

</div>
<!-- ./wrapper -->
