<div class="row">
    <div class="col-6 col-sm-6 col-md-7 col-lg-8 col-xl-8">
        <div class="feed-list">
            <div class="row">
               <app-feed-item *ngFor="let feed of feeds" [feedItem]="feed" class="col-xs-12 col-sm-12 col-md-6 col-lg-4"></app-feed-item>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-6 col-md-5 col-lg-4 col-xl-4">
        <app-order-detail></app-order-detail>
    </div>
</div>
<!-- PAGING -->
<div class="paging-bar">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#">
                Trở Về
            </a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">
                Xem Tiếp
            </a>
        </li>
    </ul>
</div>