.product-item{
    margin-bottom: 30px;
}

.box-shadow-panel{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px;
    border-radius: 4px;
}

.panel-body{
    max-height: 350px;
    overflow: hidden;
    padding: 8px;
}

.top-radius{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.thumbnail{
    border: 0;
    padding: 0;
    overflow: hidden;
    max-height: 185px;
    background: #C5E6E5;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.thumbnail img{
    max-width: 100%;
}

.module-title{
    margin-top: 0px;
    font-size: 16px;
}

.module-title a{
    font-weight: 600;
    color: #17a2b8;
}

.price{
    font-weight: 600;
    margin-bottom: 0;
    font-size: 24px;
}

.panel-footer{
    padding: 0 8px 8px 8px;
}

.btn-book{
    display: block;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase
}