<div class="product-item panel box-shadow-panel">
    <a class="thumbnail" routerLink="/product/detail/1">
        <img class="top-radius" src="{{product.thumbnailUrl}}" alt="">
    </a>
    <div class="panel-body">
        <h2 class="module-title">
            <a routerLink="/product/detail/1">{{product.name}}</a>
        </h2>
        <p class="text-warning price">{{product.price}} vnđ</p>
    </div>
    <div class="panel-footer">
        <button class="btn btn-outline-dark btn-book" (click)="addOrder()">
            + Chọn
        </button>
    </div>
</div>
