<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <div class="product-item panel box-shadow-panel">
        <a class="thumbnail top-radius" routerLink="/product/detail/1">
            <img class="top-radius" src="{{product.thumbnailUrl}}" alt="">
        </a>
        <div class="panel-body">
            <h2 class="module-title">
                <a routerLink="/product/detail/1">{{product.name}}</a>
            </h2>
            <p class="price">{{product.price}} vnđ</p>
        </div>
    </div>
</div>