.order-filter-panel {
  margin-top: 20px;
  padding: 5px;
  border-bottom: 2px solid #f4f4f4;
}

.order-filter-panel div {
  padding: 3px;
}

.order-filter-panel .row {
  margin-bottom: 0px;
}

.order-filter-panel .btn {
  margin-top: 2px;
}

.order-filter-panel > .users-list-date {
  margin-left: -8px;
}
