<li class="order-item">
    <div class="row no-gutters">
        <div class="col-3 col-sm-3 col-md-2 col-lg-2">
            <img class="top-radius thumbnail" src={{order.productImageUrl}} alt="">
        </div>
        <div class="col-8 col-sm-8 col-md-9 col-lg-9">
            <div class="product-detail">
                <h4 class="title">{{order.productName}}</h4>
                <div class="info">
                    <span>
                        <label>Số lượng:</label> {{order.quantity}}
                    </span>
                    <span>
                        <label>Đơn giá:</label> {{order.price}}
                    </span>
                    <span>
                        <label>Tổng giá:</label> {{order.totalPrice}}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 text-center">
            <div class="tools">
                <button class="btn btn-sm btn-danger" (click)="remove()">
                    <fa-icon [icon]="faTimes"></fa-icon>
                </button>
                <button class="btn btn-sm btn-secondary" (click)="decreaseQuantity()">
                    <fa-icon [icon]="faArrowAltCircleDown"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</li>

