.thumbnail{
    max-width: 100%;
    border-radius: 4px;
    margin-right: 5px;
}

.order-item{
    margin-bottom: 8px;
    background: #f9f9f9;
    border: 1px solid #F0F0F0;
    padding: 8px;
    border-radius: 4px;
}

.product-detail{
    padding-left: 8px;
}

.title{
    font-size: 16px;
    font-weight: 700;
}

.info{
    font-size: 14px;
}

.info span{
    margin-right: 8px;
    color: #333;
    font-weight: 600;
}

.info span:last-child{
    margin-right: 0;
}

.info label{
    color: #666;
}

.tools .btn{
    width: 100%;
    margin-bottom: 5px;
}

.tools .btn:last-child{
    margin-bottom: 0;
}