
.search-tool {
  padding-top: 8px;
}

.search-tool .btn {
  margin-top: 2px;
}

.search-tool > div {
  padding-top:4px;
  padding-bottom: 4px;
}

.text-title {
  font-size: 20px;
}

.product-item > b {
  font-size: large;
}

.total-value {
  padding-top: 5px;
  color: #999;
  display: block;
}
