.title{
    line-height: 1;
    margin-bottom: 15px;
}

.detail-info{
    padding: 8px;
}

.footer{
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #F0F0F0;
}

.footer button{
    margin: 0 3px;
}