<h5 class="title">Đơn hàng</h5>

<ul class="list-unstyled">
    <app-order-item *ngFor="let orderItem of orders" [order]="orderItem" (onRemoved)="removeOrder($event)"
    (onQuantityDecreased)="decreaseQuantity($event)"></app-order-item>
</ul>

<div class="detail-info">
    <span>Đã đặt <b>{{totalProduct}} sản phẩm</b> với tổng giá <b>{{totalPrice | currency:'VND':true}}</b></span>
</div>

<div class="footer text-center">
    <button class="btn btn-secondary" (click)="clear()">Làm Lại</button>
    <button class="btn btn-success">Xác nhận</button>
</div>
