.invoice-col select {
  max-width: 250px;
}

.order-detail-tool {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  .order-status {
    margin-top:10px;
  }
   .invoice-col select {
    max-width: 100%;
   }
 }
