<section class="content-header">
  <app-bread-crumb [Title]="IsEdit?'Sửa thông tin mặt hàng' : 'Tạo mới mặt hàng'" [Root]="['Mặt hàng@(/mat-hang)']" [Active]="'thông tin mặt hàng'"></app-bread-crumb>
</section>
<section class="content container-fluid">
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#settings" data-toggle="tab">Thông tin mặt hàng</a></li>
      <li *ngIf="IsEdit === true" class="pull-right">
        <a title="Tiếp tục tạo mới" [routerLink]="['/mat-hang/tao-moi']" class="btn btn-default btn-sm">
          <i class="fa fa-plus-circle text-green"></i> Tiếp tục tạo mới
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="active tab-pane" id="settings">
        <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" class="form-horizontal" novalidate>
          <div class="form-group">
            <label for="inputProductName" class="col-sm-2 control-label">Tên mặt hàng</label>

            <div class="col-sm-5">
              <input type="text" [(ngModel)]="ProductInfo.ProductName" name="name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }"
                required class="form-control" id="inputProductName" placeholder="Tên mặt hàng">
              <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                <div *ngIf="name?.errors.required"><i class="fa fa-warning text-red"></i> Tên mặt hàng không được rỗng !</div>
              </div>
            </div>
          </div>
          <div *ngIf="IsEdit" class="form-group">
            <label for="inputProductCode" class="col-sm-2 control-label">Mã mặt hàng</label>

            <div class="col-sm-5">
              <input class="form-control" id="inputProductCode" disabled type="text" [(ngModel)]="ProductInfo.ProductCode" name="code">
            </div>
          </div>

          <div class="form-group">
            <label for="inputCate" class="col-sm-2 control-label">Danh mục</label>

            <div class="col-sm-5">
              <select class="form-control" (change)="categorySelectChange($event)" id="inputCate" name="category"  [(ngModel)]="ProductInfo.CategoryId">
                <option *ngFor="let c of CategoryList" [value]="c.Id" [selected]="c.Id === ProductInfo.CategoryId">{{c.CategoryName}}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="inputPrice" class="col-sm-2 control-label">Đơn giá</label>

            <div class="col-sm-5">
              <input type="text" [(ngModel)]="ProductInfo.Price" name="price" #price="ngModel" [ngClass]="{ 'is-invalid': f.submitted && price.invalid }"
                      required min="0" max = "99999999" class="form-control" id="inputPrice" placeholder="Đơn giá" appInputCurrencyMask (ngModelChange)="onPriceChange($event)" >
                <span class="users-list-date">Lưu ý: vui lòng nhập số nguyên, nhập 25000 nếu đơn giá là 25 nghìn</span>
              <div *ngIf="f.submitted && price.invalid" class="invalid-feedback">
                <div *ngIf="price?.errors.required"><i class="fa fa-warning text-red"></i> Đơn giá không hợp lệ !</div>
                <div *ngIf="price?.errors.range"><i class="fa fa-warning text-red"></i> Đơn giá không hợp lệ !</div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="inputStock" class="col-sm-2 control-label">Tồn kho</label>

            <div class="col-sm-2">
              <input type="number" [(ngModel)]="ProductInfo.InStock" name="stock" #stock="ngModel" [ngClass]="{ 'is-invalid': f.submitted && stock.invalid }"
                required min="0" max = "99999999" class="form-control" id="inputStock" placeholder="Đơn giá">
              <div *ngIf="f.submitted && stock.invalid" class="invalid-feedback">
                <div *ngIf="stock?.errors.required"><i class="fa fa-warning text-red"></i> Tồn khi không hợp lệ !</div>
                <div *ngIf="stock?.errors.range"><i class="fa fa-warning text-red"></i> Tồn khi không hợp lệ !</div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="inputDescription" class="col-sm-2 control-label">Mô tả</label>

            <div class="col-sm-5">
              <textarea rows="6" [(ngModel)]="ProductInfo.Description" name="description"  id="inputDescription" placeholder="Mô tả sản phẩm"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label for="inputPass" class="col-sm-2 control-label">Ảnh đại diện</label>
            <div class="col-sm-5">
              <div class="box box-primary">
                <div class="box-body box-profile">
                  <img class="profile-user-img img-responsive img-avatar" [src]="ImageUrl">
                  <div class="upload-avatar-button">

                    <label for="image-upload" class="custom-file-upload">
                      <i class="fa fa-cloud-upload"></i> Upload ảnh
                    </label>
                    <input #imageInput (change)="onImageChanged(imageInput)" accept="image/x-png,image/gif,image/jpeg"
                      id="image-upload" type="file" />

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="inputIdNum" class="col-sm-2 control-label">Ngày tạo</label>

            <div class="col-sm-5 created-date">
              <span class="text-muted">Được tạo vào ngày {{ProductInfo.CreatedDate}}</span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
              <button class="btn btn-danger">{{ButtonContent}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
