<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WEBSITE_NODE_DEFAULT_VERSION" value="8.12.0" />
  </appSettings>
  <system.webServer>
    <iisnode enableXFF="true" />
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <match url="/*" />
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>