<section class="content-header">
  <app-bread-crumb
    [Title]="'Thông báo'"
    [Active]="'Thông báo'"
  ></app-bread-crumb>
</section>
<section class="content container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="pagination-notify"><ng-template #NotifyPagerContainer></ng-template></div>
      <ul *ngFor="let group of SysNotifyList.Items" class="timeline">
        <li class="time-label">
              <span class="bg-red">
                  {{ group.DateGroup }}
              </span>
        </li>
        <li *ngFor="let item of group.SysNotifyList">
          <i class="fa fa-envelope bg-blue"> </i>

          <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> {{ item.UpdatedDate }}</span>

            <h3 class="timeline-header">{{ item.Title }}</h3>

            <div [innerHTML]= "item.Content" class="timeline-body">
            </div>
          </div>
        </li>
        <li>
          <i class="fa fa-clock-o bg-gray"></i>
        </li>
      </ul>

    </div>
    <!-- /.col -->
  </div>
</section>
