<div id="header">
    <div class="navbar top-bar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="head-logo-link navbar-brand">
                    <img src="assets/images/logo.png" alt="logo here">
                </a>
                <h1 class="navbar-brand brand-title">
                    <a routerLink="/">
                        <span>OrderKing</span> Sell
                    </a>
                </h1>
            </div>
            <div class="navbar-left">
                <ul class="nav nav-justified main-menu">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Bán hàng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Lịch sử đơn hàng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Thông báo <span class="badge badge-success">0</span></a>
                    </li>
                </ul>
            </div>
            <div class="navbar-right nav-profile">
                <a href="#" class="btn btn-trans navbar-btn btn-profile-info">
                    <img src="assets/photos/avatar.png" alt="">
                    <span class="profile-name">Lê Trung</span>
                </a>
            </div>
        </div>
    </div>
</div>
