.top-bar{
  border-radius: 0;
  background: #00504D;
  padding: 0;
}

.head-logo-link{
  padding: 3px 0;
  margin-right: 8px;
}

.brand-title{
  margin: 0;
  padding: 0;
}

.brand-title a{
  color: #90AEAA;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  vertical-align: middle;
  font-weight: 600;
}

.brand-title a span{
  color: #F0A013;
  font-family: 'Nunito', sans-serif;
}

.head-logo-link img{
  max-width: 100%;
  max-height: 35px;
}

.nav-profile .btn{
  height: 34px;
  margin-left: 5px;
  border-radius: 35px;
  line-height: 34px;
  padding-top: 0;
  padding-bottom: 0;
}

.nav-profile .btn.btn-trans{
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  color: #90AEAA;
  min-width: 35px;
}

.nav-profile .btn.btn-trans:active{
  box-shadow: none;
  background: #215D54;
}

.nav-profile .btn.btn-trans:focus:focus-within{
  box-shadow: none;
  outline: none;
}

.nav-profile .btn-trans{
  float: left;
}

.nav-profile .division{
  border-right: 1px solid #085A45;
  height: 10px;
  width: 0;
  display: block;
  float: left;
  margin-top: 20px;
}

.btn-notify{
  position: relative;
  z-index: 1;
  border: 0;
  margin-right: 5px;
}

.btn-notify .notify-count{
  position: absolute;
  top: -3px;
  right: 0px;
  width: 18px;
  height: 18px;
  background: #F0A013;
  border-radius: 4px;
  font-size: 9px;
  text-align: center;
  line-height: 18px;
  font-weight: 600;
  color: #FFFFFF;
}

.nav-profile img{
  width: 25px;
  height: 25px;
  border-radius: 25px;
  margin-right: 2px;
}

.nav-profile .profile-name{
  vertical-align: middle;
}

.nav-profile .btn.btn-profile-info{
  padding: 3px 8px;
  height: 35px;
  line-height: 1;
}

.main-menu {
  width: 500px;
}

.main-menu .nav-link{
  color: #FFF;
}

.main-menu .nav-link:hover{
  color: #17a2b8;
}
